<% if session[:user_id] %>
  <h3>Friends</h3>
  <%= button_to('Find Friends', users_path, :class => 'btn btn-primary btn-sm', :method => :get)  %>
  <% if current_user.friends.count > 0 %>
    <ul class="no-list">
      <% current_user.friends.each do |friend| %>
        <li><a href="/users/<%= friend.id %>"><%= friend.firstname %> <%= friend.lastname %></a></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
