<% if session[:user_id] %>
  <h3>Friends</h3>
  <% if current_user.friends.count > 0 %>
    <ul class="no-list">
      <% current_user.friends.each do |friend| %>
        <li><a href="/users/<%= friend.id %>"><%= friend.firstname %> <%= friend.lastname %></a></li>

      <% end %>
    </ul>
    <% else %>
    <p><em>Link up with your friends to see their games.</em></p>
  <% end %>
  <%= button_to('Find Friends', users_path, :class => 'btn btn-purple btn-sm', :method => :get)  %>
<% end %>
