<div>
  <h3 class="text-center"><%= @tag.title %></h3>
  <% if @games.count > 0 %>
    <ul class="no-list text-center">
      <% @games.each do |game|  %>
        <li class="pad-10"><a href="/games/<%= game.id %>"><%= game.name %> <img src="<%= game.thumbnail_url %>" class="tiny-pic" /></a></li>
      <% end %>
    </ul>
  <% else %>

    <p class="text-center"><em>No games belong to this category. Suggest the admins add some!</em></p>

  <% end %>

</div>
