/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
.main-nav {
  height: 80px;
  background-color: #663399;
  border-bottom: 3px solid rgb(93,47,140);
  color: white;
  padding-top: 25px;
  border-radius: 0 0 5px 5px;
}

.no-list {
  list-style-type: none;
  padding-left: 5px;
}

.inline-text {
  display: inline;
}

.inline-list {
  display:inline-block;
}

.inline-list li {
  display: inline-block;
  margin-left: 45px;
}

.inline-list li a {
  color: white;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-lr-10 {
  margin: 0 10px;
}

.margin-no {
  margin: 0;
}

.margin-bot-10 {
  margin-bottom: 10px;
}
.margin-10 {
  margin: 10px 0;
}

.margin-5 {
  margin: 5px 0;
}

.spacer {
  height: 10px;
}

.pad-15 {
  padding: 15px 0;
}

.pad-10 {
  padding: 10px 0;
}

.pad-5 {
  padding: 5px 0;
}

.collection {
  border: 2px solid #efefef;
  border-radius: 15px;
}

.tiny-pic {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.friends-circle {
  border-radius: 15px;
  width: 98%;
  margin: 0 auto;
  background-color: antiquewhite;
}

.left-20 {
  padding-left: 20px;
  text-align: left;
}

.friend-games {
  margin: 0 20px;
  border-top: 1px solid #E5BF8C;
}

.friend-games p strong, .text-bkg-antique {
  background-color: #E5BF8C;
  padding: 5px 8px;
  border-radius: 5px;
  display:inline-block;
}

.search-bar {
  color:black;
}

.game-detail {
  padding-top: 10px;
}

.game-pic {
  float: right;
  width: 420px;
  height: auto;
  margin: 10px 0 10px 25px;
}

tbody#reviews{
  text-align: center;
}

th {
    padding: 1em;
}

.round {
  border-radius: 1em;
  padding: 1.5em;
  margin: 2em;
  background-color: #F3F3F3
}

.purple {
  color: rgb(93,47,140)
}

.cow {
  margin: 1em;
}

.right {
  float: right;
  color: grey;
}

#reviews span.right {
  margin: -0.5em;
}

#reviews span a {
  margin: 0.2em;
  color: grey;
}

#reviews span a:hover{
  color: rgb(93,47,140);
  text-decoration:none;
}

.reviews-section {
  display: inline-block;
  padding-top: 10px;
}

.create-review {

}

.btn-review {
  color: #ffffff;
  background: #8797a1;
}


.btn-review:hover {
  background: #663399;
  color: white;
}

.smaller{
  font-size: 15px;
  padding: 7px 30px 7px 28px;
}

.white-pink {
    color: #555;
    width: 70%;
    height: 149px !important;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height:15px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

