/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
.main-nav {
  height: 80px;
  background-color: #663399;
  border-bottom: 3px solid rgb(93,47,140);
  color: white;
  padding-top: 25px;
}

.no-list {
  list-style-type: none;
  padding-left: 5px;
}

.inline-text {
  display: inline;
}

.inline-list {
  display:inline-block;
}

.inline-list li {
  display: inline-block;
  margin-left: 45px;
}

.inline-list li a {
  color: white;
}

.pad-15 {
  padding: 15px 0;
}

.pad-10 {
  padding: 10px 0;
}

.pad-5 {
  padding: 5px 0;
}

.collection {
  border: 2px solid #efefef;
  border-radius: 15px;
}

.tiny-pic {
  height: 50px;
  margin-left: 10px;
}

.friends-circle {
  border-radius: 15px;
  width: 98%;
  margin: 0 auto;
  background-color: antiquewhite;
}

.left-20 {
  padding-left: 20px;
  text-align: left;
}

.friend-games {
  margin: 0 20px;
  border-top: 1px solid #E5BF8C;
}

.search-bar {
  color:black;
}
