.inline-text a:link{
  text-decoration: none;
  color:white;
}

.inline-text a:visited{
  text-decoration: none;
  color:white;
}

.inline-text a:hover{
  text-decoration: none;
  color:white;
}

.inline-text a:active{
  text-decoration: none;
  color:white;
}

.inline-headers h6{
  display: inline;
  margin-left: 3em;
}